#VS specific
*.suo
*.user
*.pdb
*.positions
*proj.user
*proj.*.user
*.ncb
*.plg
*.opt
*.ilk
*.pch
*.idb
*.clw
*.aps
*.VC.db
*.exe

#Object files
*.obj

#Directories to exclude
debug_dynamic_build/*
debug_dynamic_exe/*
debug_static_exe/*
release_dynamic_exe/*
release_static_exe/*